numpy==1.16
scikit-image==0.14.2
keras==2.2.4
tensorflow==1.15
scipy
Pillow
cython
matplotlib
opencv-python
h5py
imgaug
IPython
jupyter
jupyterlab
scikit-learn
tqdm
laspy
shapely
pycocotools
tensorflow-model-optimization
pandas
contextlib2
boto3
